.idea/
.DS_Store
intellijParking-frontend/.DS_Store
*.iml
intellijParking-backend/target/
node_modules/
dist/
build/
*.log
.env
.env.local
tmp/
temp/

# Outils IA
.cursorrules
.aider*
claude.md
.codeium
.tabnine
